@using Microsoft.AspNetCore.Components.Authorization
@using Crm.Web.Components.Layout
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<Router AppAssembly="@typeof(App).Assembly">
  <Found Context="routeData">
    <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
      <NotAuthorized>
        <RedirectToLogin />
      </NotAuthorized>
    </AuthorizeRouteView>
    <FocusOnNavigate RouteData="routeData" Selector="main" />
  </Found>
  <NotFound>
    <div class="card p-4">Not found</div>
  </NotFound>
</Router>
