@using Microsoft.AspNetCore.Components

<span class="badge text-bg-primary me-1">
    @Tag
    @if (Removable)
    {
        <button type="button" class="btn-close btn-close-white btn-sm ms-1" aria-label="Remove" @onclick="() => OnRemove.InvokeAsync(Tag)"></button>
    }
</span>


